/* RESET */ 
:root{
    --base-color: rgb(241, 203, 63);
    --success-color: rgb(120, 205, 118);
    --background-color: #ddd;
    --primary-font: "Opens Sans", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --paragraph-font-color: rgb(95, 103, 105);
}

*{ 
    margin:0;
    padding:0;
}
/* END RESET */ 

/* LAYOUT */ 
h4,h5,h6{
    font-family: var(--primary-font);
}

h1{
    font: bold 2.3rem var(--primary-font);
    color: var(--base-color);
}

h3{
    font: bold 1.3rem var(--primary-font);
    color: var(--base-color); 
}

p{
    font: 400 0.9rem var(--secondary-font);
    color: var(--paragraph-font-color);
}

.container{
    margin-bottom: 3rem;
    margin-left:1rem;
    margin-right:1rem;
}
/* END LAYOUT */ 

/* HEADER */ 
header{ 
    margin:0.8rem;
    display:flex;
    justify-content: space-between;
}

#logo img{
    width:60%;
}

#menu-buttom i{
    color: var(--background-color);
    font-size:2rem;
}   

.mobile-menu{
    height:0px;
    overflow:hidden;

    transition: height 0.8s ease-in-out;
}
.mobile-menu ul{
    list-style: none;
}
.mobile-menu li{
    margin:1.5rem;
}
.mobile-menu li a{
    text-decoration: none;
    font: bold 0.9rem var(--primary-font);
    color: var(--base-color);
    text-transform: uppercase;
}

/* END HEADER */ 

/* SECTION-SOCIALS */
.socials{
    margin-top: 2rem;
    margin-right: 1.2rem;
    text-align: right;
}
.socials button{
    background-color: var(--base-color);
    border:none;
    border-radius: 50%;
    padding:0.4rem;
    color:#ffff;
    margin-left:3%;
    font-size:0.7rem;
}
/* END SECTION-SOCIALS */


/* SECTION PRINCIPAL */
.principal h1,a,p{
    margin-bottom:2rem;
}

.primary-button{
    border-radius: 1.8rem;
    padding:0.8rem 1.8rem;
    border:none;
    background-color:var(--base-color);
    text-decoration: none;
}

.primary-button span{
    color:#fff;
    font: bold 1.3rem var(--primary-font); 
}

.preview-img img{
    width:100%;
}
/* END SECTION-PRINCIPAL */

/* SECTION NOSSOS SERVIÇOS */
.our-services{
    text-align: center;
}

.our-services h1,p{
    margin-bottom:2rem;
}

.servico h3, p{
    padding-bottom:10px;
}
/* END NOSSOS SERVIÇOS */

/* SECTION QUEM SOMOS */
.quem-somos h1,p{
    margin-bottom:1.5rem;
}
/* END SECTION QUEM SOMOS */

/* SECTION FEEDBACK */
.feedback{
    margin:0;
    padding-top:3rem;
    padding-bottom: 1.5rem;
    text-align:center;
    background-image: url('../../assets/img/background_div.png');
    background-attachment:fixed;
    background-size: cover;
    background-repeat: repeat-x;
}

.text-feedback h1,p{
    margin-bottom:1.5rem;
}

.comment-feedback{ 
    padding:1.5rem;
}

.comment-feedback span{
    font:400 0.8rem var(--secondary-font);
    color: #868B8E;
}
/* END SECTION FEEDBACK */

/* SECTION CONTACTS */
.contacts h1,p{
    margin-bottom:1.5rem;
}

.contacts{
    padding:1.5rem;
    text-align:center;
}

.contact{
    display:flex;
}

.icon-contact i{
    font-size:4rem;
    color: var(--base-color);
}

.text-contact{
    text-align: left;
    margin-left:1.5rem;
}

.text-contact h4{
    font: bold 1.3rem var(--primary-font);
    color: var(--paragraph-font-color);
}
/* END-SECTION CONTACTS */

/* SECTION LETS-TALK */
.lets-talk{
    text-align: center;
}

.lets-talk h1,a,p{
    margin-bottom: 2rem;
}   

.success-button{
    border-radius: 1.8rem;
    padding:0.8rem 1.8rem;
    border:none;
    background-color:var(--success-color);
    text-decoration: none;
}

.success-button span{
    color:#fff;
    font: bold 1rem var(--primary-font); 
}
/* END-SECTION LETS-TALK */

/* SECTION CLIENTS */
.clients h1,p{
    margin-bottom:1.5rem;
}

.clients{
    margin-top:6rem;
    text-align:center;
}

.client-logo{
    margin-bottom: 5rem;
}


/* END SECTION CLIENTS */
.talk-me{
    margin:0;
    padding-top:4rem;
    padding-bottom: 3rem;
    background-image: url('../../assets/img/container_talk_me.png');
    background-repeat: repeat-x;
    background-size: cover;
}

.descript-talk-me{
    margin:1rem;
    margin-top:2.5rem;
}
.descript-talk-me h4,p{
    margin-bottom:1.5rem;
}
.media-links{
    color: var(--paragraph-font-color);
    font-size: 2rem;
}

/* SECTION TALK-ME 